<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.js"></script>
    <title>Document</title>
    <style>
        .grid {
            margin: auto;
            width: 500px;
            text-align: center;
        }

        .grid table {
            width: 100%;
            border-collapse: collapse;
        }

        .grid th,
        td {
            padding: 10px;
            border: 1px dashed orange;
            height: 35px;
            line-height: 35px;
        }

        .grid th {
            background-color: orange;
        }

        .grid .book {
            padding-bottom: 10px;
            padding-top: 5px;
            background-color: #F3DCAB;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="grid">
            <div>
                <h1>图书管理</h1>
                <div class="book">
                    <div>
                        <label for="id">编号</label>
                        <!-- disabled 输入框不可编辑状态 -->
                        <input type="text" id="id" v-model="id" :disabled="isDisabled">
                        <label for="name" id="name">名称</label>
                        <input type="text" id="name" v-model="name">
                        <button @click="submit">提交</button>
                    </div>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr :key="item.id" v-for="item in books">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.date }}</td>
                        <td>
                            <!-- 采用 .prevent 事件修饰符来屏蔽 a 标签的刷新默认功能 -->
                            <a href="" @click.prevent="toEdit(item.id)">修改</a>
                            <span>|</span>
                            <a href="" @click.prevent="">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                id: "",
                name: "",
                books: [{
                        id: 1,
                        name: "三国演义",
                        date: ""
                    },
                    {
                        id: 2,
                        name: "水浒传",
                        date: ""
                    },
                    {
                        id: 3,
                        name: "红楼梦",
                        date: ""
                    },
                    {
                        id: 4,
                        name: "西游记",
                        date: ""
                    }
                ],
                isDisabled: false
            },
            methods: {
                // 添加图书
                submit() {
                    // 添加图书
                    let book = {};
                    book.id = this.id;
                    book.date = "";
                    book.name = this.name;

                    this.books.push(book);

                    // 清空表单
                    this.id = "";
                    this.name = "";
                },
                toEdit(id) {

                    // 将 id 输入框设为不可编辑状态
                    this.isDisabled = true;
                    // 遍历获取 id 的书籍信息
                    let book = this.books.filter((item) => {
                        // 符合条间的返回
                        return item.id == id;
                    });
                    // 修改 id name
                    this.id = book[0].id;
                    this.name = book[0].name;
                }
            }
        });
    </script>
</body>

</html>